.planet-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 21rem;
  justify-content: center;
  width: 100%;
}

.planet-image-container {
  align-items: center;
  display: flex;
  height: 80%;
}

.planet-image-container img {
  animation: floatPlanets 4s infinite ease-in-out;
  perspective: 100rem;
}

.planet-name-container {
  align-items: flex-end;
  display: flex;
  height: 20%;
}

.planet-name-container p {
  font-size: 1.6rem;
}

@keyframes floatPlanets {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY();
  }
}
