.planet-card-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.planet-card-container img {
  animation: floatPlanets 4s infinite ease-in-out;
}

@keyframes floatPlanets {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY();
  }
}

