.solar-system-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.planets-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.solar-system-container hr {
  animation: floatPlanets 4s infinite ease-in-out;
  background-color: white;
  color: white;
  height: 0.05rem;
  position: absolute;
  top: 195px;
  width: 100%;
  z-index: -1;
}

@keyframes floatPlanets {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    transform: translateY();
  }
}

